.blogs a {
    display: block;
    margin: 40px 0;
    padding-left: 30px;
    border-left: 6px solid crimson;
}

.blogs a:hover h3{
    color: crimson;
}

.delete {
    position: absolute;
    top: 0;
    right: 0;
}